################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BadSOLID/bin/Debug
/src/BadSOLID/obj/Debug
/src/DCorrection/obj/Debug
/src/DCorrection/bin/Debug
/src/ICorrection/obj/Debug
/src/ICorrection/bin/Debug
/src/LCorrection/obj/Debug
/src/LCorrection/bin/Debug
/src/OCorrection/obj/Debug
/src/OCorrection/bin/Debug
/src/SCorrection/obj/Debug
/src/SCorrection/bin/Debug
